- content_for :page_title do
  = t('auth.login')

- content_for :header_tags do
  = render partial: 'shared/og'

- unless omniauth_only?
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    %p.lead= t('auth.already_registered')
    .actions
      = link_to t('auth.login'), new_user_session_path, class: 'button button-primary'

- if devise_mapping.omniauthable? and resource_class.omniauth_providers.any?
  .simple_form.alternative-login
    %h4= omniauth_only? ? t('auth.log_in_with') : t('auth.or_log_in_with')

    .actions
      - resource_class.omniauth_providers.each do |provider|
        = provider_sign_in_link(provider)

.form-footer= render 'auth/shared/links'
